<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">My name is Jingwun and I enjoy spending my free time doing data analysis with Python. I became very interested in Python on 2014/2015 New Year's Eve when trying to solve math problems on Project Euler with friends. I subsequently devoted many weekends to learning Python by building data analytic models, and eventually used them at work. This website started as a means for me to document projects as I am learning to become a better data scientist. My day job is a senior analyst in the investment management industry. I specialize in the portfolio management of international equity.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014 New Year's Eve</h4>
                                    <h4 class="subheading">I became very interested in Python when trying to solve math problems on Project Euler with friends.</h4>
                                </div>
                                <div class="timeline-body">
                                        <ul>
                                            <li>    
                                                <p class="text-muted">
                                                
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                
                                                </p>
                                                </li>
                                        </ul>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015</h4>
                                    <h4 class="subheading">I devoted many weekends to learning Python by building data analytic models, and eventually used them at work.</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul>
                                            <li>    
                                                <p class="text-muted">
                                                
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                 
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                </p>
                                            </li>
                                        </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016</h4>
                                    <h4 class="subheading">I started this website to document projects as I am learning to become a better data scientist. <br /></h4>
                                </div>
                                <div class="timeline-body">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
